<h1>Codeial / <%= title %></h1>

<form action="/users/create-session" method="POST">
  <input type="email" name="email" placeholder="Your Email" />
  <input type="password" name="password" placeholder="Password" />

  <input type="submit" value="sign in" />
</form>
<p>
  <a href="/users/auth/google"> Sign-in/sign-up using GOOGLY </a>
</p>
<p>
  <a href="/users/auth/github"> Sign-in/sign-up using Gity </a>
</p>
